body {
    text-align: center;
    background-color: darkblue;
    color: white;
    margin: 0;
    padding: 0;
}

.kyanpalco {
    text-align: center;
}

p {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}