body {
    text-align: center;
    background-color: dimgray;
    margin: 0;
    padding: 0;
    text-align: center;
}


p {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}