body {
    background-color: blue; /* Fundo azul */
    color: white; /* Texto branco */
}

.kyan {
    text-align: center;
}

a {
    color: white; /* Cor do texto dos links em branco */
}

a:hover {
    color: lightgray; /* Cor do texto dos links quando passar o mouse */
}

p {
    color: white; /* Texto dos parágrafos em branco */
}